

#intro {
    min-height: 100vh;
    background-image: url("../image/1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.nav-link, .navbar-brand, .navbar-brand:visited, .navbar-brand:hover, .nav-link:visited, .nav-link:hover {

    color: white;
    
}

.text-vcenter {
    
    font-size: 5rem;
    padding: 35vh 0 35vh 0;
    text-align: center;
    float: none;
    margin: 0 auto;
}

.text-vcenter h1 {
    
    background-color: rgba(56, 54, 54, 0.5);
    padding: 10vh;     
}

.about{
    background-color: rgb(56, 54, 54);
    color: white;
}

.about blockquote, form {
  padding-top: 10vh;
  padding-bottom: 10vh;
  margin-bottom: 0;

}

.me p {
    font-size: 3rem;
}

.random {

    margin-top: 3vh;
}

#contact {
  background-image: url("../img/y.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical;
}


input[type=submit] {
    background-color: rgb(56, 54, 54);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #eecc09;
}

.formclass {

margin-top: 5vh;

}